In [4]:
import pandas as pd

In [17]:
step=99

In [24]:
type=5

In [7]:
amount=12660.25

In [8]:
oldbalanceOrg=106731.00

In [9]:
newbalanceOrig=94070.75

In [10]:
oldbalanceDest=13600.49

In [11]:
newbalanceDest=26260.74

In [12]:
isFlaggedFraud=0

In [13]:
columns = ['step','type','amount','oldbalanceOrg','newbalanceOrig','oldbalanceDest','newbalanceDest','isFlaggedFraud']

In [25]:
data = {
      'step':[step],
      'type':[type],
      'amount':[amount],
      'oldbalanceOrg':[oldbalanceOrg],
      'newbalanceOrig':[newbalanceOrig],
      'oldbalanceDest':[oldbalanceDest],
      'newbalanceDest':[newbalanceDest],
      'isFlaggedFraud':[isFlaggedFraud]
       }

In [26]:
details = pd.DataFrame(data,columns=columns)

In [27]:
details

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
0,99,5,12660.25,106731.0,94070.75,13600.49,26260.74,0

In [28]:
details.dtypes

step                int64
type                int64
amount            float64
oldbalanceOrg     float64
newbalanceOrig    float64
oldbalanceDest    float64
newbalanceDest    float64
isFlaggedFraud      int64
dtype: object